<MudDialog>
    <TitleContent>
        <div class="container">
            <p style="text-align:center; font-size: 1.2rem;">
                <b>Error al agregar Inhabilitado</b>
            </p>
        </div>
    </TitleContent>
    <DialogContent>
        <MudText>
            <MudGrid>
                <MudItem xs="3">
                    <MudIcon Icon="@Icons.Material.Filled.WarningAmber" Color="Color.Warning" Size="Size.Large" />
                </MudItem>
                <MudItem xs="9">
                    <ol>
                        @foreach (var error in listaErrores!)
                        {
                            <li>@error</li>
                        }
                    </ol>
                </MudItem>
            </MudGrid>
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Style="color:white; background-color:#A8113E; width:150px; margin-right:25px; margin-bottom: 8px" OnClick="Submit">Cerrar</MudButton>
    </DialogActions>
</MudDialog>

<style>
    a {
        color: #A5987E;
        opacity: 75%;
    }

    .my-custom-class {
        backdrop-filter: blur(10px);
    }
</style>

@code {
    [Parameter]
    public List<string>? listaErrores { get; set; }
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();
}
