@page "/ConstanciaNoInhabilitado/Admin/RegistrarCausa"

@using ConstanciaNoInhabilitado.Client.Shared.Forms;
@using ConstanciaNoInhabilitado.Client.Componentes.Menu;
@using ConstanciaNoInhabilitado.Shared.Entities.Login
@using MudBlazor
@using ConstanciaNoInhabilitado.Client.Auth;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@using ConstanciaNoInhabilitado.Client.Shared.Partial.Cards;
@inject AuthenticationStateProvider authenticationStateProvider;
@inject NavigationManager navigationManager;
@attribute [Authorize]
@inject HttpClient Http
@inject ISnackbar Snackbar


<MainFormHome>
    <ContentBreadcrumbs>
        <MudLink>
            <b>Inicio</b>
        </MudLink>
        <b>/</b>
        <MudLink Href="ConstanciaNoInhabilitado/Admin/Default">
            <b>Administración</b>
        </MudLink>
        <b>/</b>
        <b style="color:#A8113E;">
            Registrar Causa Inhabilitación
        </b>
    </ContentBreadcrumbs>
    <Main>
        <CardForm>
            <Content>
                <MudGrid Justify="Justify.Center">
                    <MudItem xs="11">
                        <MudText Typo="Typo.h5">
                            Ingrese los siguientes datos
                        </MudText>
                    </MudItem>
                    <FormRegistrarCausa RegistrarCausaInhabilitacion="_registrarCausaInhabilitacion" eventCallback="Insertar" />
                </MudGrid>
            </Content>
        </CardForm>
    </Main>
</MainFormHome>
 @if (_registrarCausaInhabilitacion.idBandera == 1)
{
    <p onclick="((@Snackbar.Add("El registro se agrego correctamente en la base de datos", Severity.Success))"></p>

}
else if (_registrarCausaInhabilitacion.idBandera == 2)
{
    <p onclick="((@Snackbar.Add("Uppp´s ocurrio un problema, el registro no se actualizo en la base de datos", Severity.Error))"></p>

}
@code {


    [Parameter]
    public CausasInhabilitacion? _registrarCausaInhabilitacion { get; set; } = new();

    public async Task Insertar()
    {

        var resp = await Http.PostAsJsonAsync<CausasInhabilitacion>("api/Catalogos/RegistrarCausa", _registrarCausaInhabilitacion);
        var resouesta = await resp.Content.ReadFromJsonAsync<CausasInhabilitacion>();

        _registrarCausaInhabilitacion = resouesta;
        Console.WriteLine("entro a insertar Causa" + _registrarCausaInhabilitacion.Descripcion);

    }

}
