@using ConstanciaNoInhabilitado.Client.Componentes.Admin.ComponentesAdmin.AsistenteRegistro.PasoI;
@using ConstanciaNoInhabilitado.Client.Componentes.Admin.ComponentesAdmin.AsistenteRegistro.PasoII;
@using ConstanciaNoInhabilitado.Client.Componentes.Admin.ComponentesAdmin.AsistenteRegistro.PasoIII;
@using ConstanciaNoInhabilitado.Shared.Entities.RegistroInhabilitacion;


<MudCarousel Class="mud-width-full" Style="height:400px;" ShowArrows="@arrows" ShowBullets="@bullets"  AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition">
        <div class="d-flex" style="height:100%">
            <PasoI EventCallbackInhabilitado="AsignarRFCPasoII" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex" style="height:100%">
            <PasoII InhabilitadoPasoII="inhabilitado" EventCallbackInhabilitacionDTO="AsignarInhabilitacionPasoIII" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex" style="height:100%">
            <PasoIII inhabilitacionDTOAsignarPasoIII="inhabilitacionDTO" />
        </div>
    </MudCarouselItem>
</MudCarousel>

@code {
    private Inhabilitado inhabilitado { set; get; }
    private InhabilitacionDTO inhabilitacionDTO { set; get; }
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = false;
    private Transition transition = Transition.Slide;

    private async Task AsignarRFCPasoII(Inhabilitado inhabilitadoPasoI)
    {
        inhabilitado = inhabilitadoPasoI;
    }

    private async Task AsignarInhabilitacionPasoIII(InhabilitacionDTO InhabilitacionDTOPasoII)
    {
        inhabilitacionDTO = InhabilitacionDTOPasoII;
    }
}
