@page "/ConstanciaNoInhabilitado/Admin/EditarUsuarios";

@using ConstanciaNoInhabilitado.Client.Shared.Forms;
@using ConstanciaNoInhabilitado.Client.Componentes.Menu;
@using ConstanciaNoInhabilitado.Client.Shared.Partial.Cards;

<h3>EditarUsuarios</h3>




 <MainFormHome>
       
        <Main>
            <CardForm>
                <Content>
                
                </Content>
            </CardForm>


        </Main>
    </MainFormHome>
@code {

}
