@page "/ConstanciaNoInhabilitado/Admin/ComponenteModal"

<h3>ComponenteCatalinoMetodo</h3>
@inject HttpClient Http;
@inject IDialogService Dialog;
@inject NavigationManager Navigation;



<MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="@ModalCreate">
    Agregar Registro
</MudButton>
@code {
    private async Task ModalCreate()
    {
        var options = new DialogOptions
            {
                ClassBackground = "filterBackground"
            };

        var dialogReference = await Dialog.ShowAsync<ComponenteCatalino>("Captura la Información", options);
        var result = await dialogReference.Result;
        Console.WriteLine(result.Data+" Entro al super metodo");
        if (!result.Canceled)
        {

            // await HandleSearchRfc(Convert.ToString(result.Data)!);

        }

    }
}
